{{ partial "head.html" . }}
<body>
<div class="main animated">
  {{ partial "nav.html" . }}
  {{ partial "header.html" . }}
  <div class="content">
    <div class="list_with_title">
      {{ range .Data.Pages.GroupByDate "2006" }}
      <div class="listing_title">{{ .Key }}</div>
      <div class="listing">
        {{ range .Pages }}
        <div class="listing_item">
          <div class="listing_post">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <div class="post_time"><span class="date">{{ .Date.Format "01-02" }}</span></div>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
    <div class="pagination"></div>
  </div>
  <a id="back_to_top" href="#" class="back_to_top"><span>△</span></a>
</div>
{{ partial "footer.html" . }}
{{ partial "js.html" . }}
</body>
</html>
