name: ci
on:
  schedule:
  - cron: "*/60 * * * *"
    
jobs:
  autogreen:
    runs-on: ubuntu-latest
    steps:
    - name: Clone repository
      uses: actions/checkout@v3
      
    - name: Auto green
      run: |
        git config --local user.email "zk@varkai.com"
        git config --local user.name "varkai"
        git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
        git pull --rebase
        git commit --allow-empty -m "a commit a day keeps your girlfriend away"
        git push
